@import "tailwindcss";



@theme {

  --font-google: "Google Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-mulish: "Mulish", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-sans: "Inter", "Google Sans", ui-sans-serif, system-ui, sans-serif;
}